<!DOCTYPE html>
<html>
  <head>
    <title>My Template</title>
  </head>
  <body>
    <h1>Hello, <%= @number %></h1>
    <% for n in 0..@number do %>
        <li><a href="<%= page_path(@conn, :post, n) %>"><%= n %></a></li>
    <% end %>
  </body>
</html>
